<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>normal</key>
	<dict>
		<key>borderWidth</key>
		<integer>1</integer>
		<key>cornerRadius</key>
		<integer>5</integer>
		<key>borderColor</key>
		<integer>4279136429</integer>
		<key>textColor</key>
		<integer>4294967295</integer>
		<key>gradients</key>
		<array>
			<dict>
				<key>colors</key>
				<array>
					<integer>4294967295</integer>
					<integer>4286961143</integer>
					<integer>4278236395</integer>
					<integer>4286961143</integer>
				</array>
				<key>locations</key>
				<array>
					<string>0,05</string>
					<real>0.1</real>
					<real>0.75</real>
					<integer>1</integer>
				</array>
				<key>startPoint</key>
				<array>
					<real>0.5</real>
					<integer>0</integer>
				</array>
				<key>endPoint</key>
				<array>
					<real>0.5</real>
					<integer>1</integer>
				</array>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<integer>2147483647</integer>
					<integer>1157627903</integer>
				</array>
				<key>locations</key>
				<array>
					<string>0</string>
					<integer>1</integer>
				</array>
				<key>startPoint</key>
				<array>
					<real>0.5</real>
					<integer>0</integer>
				</array>
				<key>endPoint</key>
				<array>
					<real>0.5</real>
					<real>0.5</real>
				</array>
			</dict>
		</array>
	</dict>
	<key>highlighted</key>
	<dict>
		<key>gradients</key>
		<array>
			<dict>
				<key>locations</key>
				<array>
					<string>0,05</string>
					<real>0.1</real>
					<real>0.75</real>
					<integer>1</integer>
				</array>
				<key>colors</key>
				<array>
					<integer>4293322470</integer>
					<integer>4280201713</integer>
					<integer>4278228418</integer>
					<integer>4280201713</integer>
				</array>
				<key>startPoint</key>
				<array>
					<real>0.5</real>
					<integer>0</integer>
				</array>
				<key>endPoint</key>
				<array>
					<real>0.5</real>
					<integer>1</integer>
				</array>
			</dict>
			<dict>
				<key>colors</key>
				<array>
					<integer>2147483647</integer>
					<integer>1157627903</integer>
				</array>
				<key>locations</key>
				<array>
					<string>0</string>
					<integer>1</integer>
				</array>
				<key>startPoint</key>
				<array>
					<real>0.5</real>
					<integer>0</integer>
				</array>
				<key>endPoint</key>
				<array>
					<real>0.5</real>
					<real>0.5</real>
				</array>
			</dict>
		</array>
		<key>borderWidth</key>
		<integer>1</integer>
		<key>cornerRadius</key>
		<integer>5</integer>
		<key>borderColor</key>
		<integer>4279136429</integer>
		<key>textColor</key>
		<integer>4294967295</integer>
	</dict>
	<key>disabled</key>
	<dict>
		<key>gradients</key>
		<array>
			<dict>
				<key>colors</key>
				<array>
					<integer>1610612735</integer>
					<integer>1602606583</integer>
					<integer>1593881835</integer>
					<integer>1602606583</integer>
				</array>
				<key>locations</key>
				<array>
					<string>0,05</string>
					<real>0.1</real>
					<real>0.75</real>
					<integer>1</integer>
				</array>
				<key>startPoint</key>
				<array>
					<real>0.5</real>
					<integer>0</integer>
				</array>
				<key>endPoint</key>
				<array>
					<real>0.5</real>
					<integer>1</integer>
				</array>
			</dict>
		</array>
		<key>borderWidth</key>
		<integer>1</integer>
		<key>cornerRadius</key>
		<integer>5</integer>
		<key>borderColor</key>
		<integer>2130752747</integer>
		<key>textColor</key>
		<integer>2147483647</integer>
	</dict>
	<key>shadow</key>
	<dict>
		<key>enable</key>
		<true/>
		<key>shadowOffset</key>
		<array>
			<real>0</real>
			<real>2</real>
		</array>
		<key>shadowOpacity</key>
		<real>0.7</real>
		<key>shadowColor</key>
		<integer>4278190080</integer>
		<key>shadowRadius</key>
		<real>2.5</real>
		<key>anchorPoint</key>
		<array>
			<real>0.5</real>
			<real>0.5</real>
		</array>
	</dict>
</dict>
</plist>
