<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>normal</key>
	<dict>
		<key>borderWidth</key>
		<integer>0</integer>
		<key>cornerRadius</key>
		<integer>15</integer>
		<key>borderColor</key>
		<integer>4282400832</integer>
		<key>textColor</key>
		<integer>4294967295</integer>
		<key>gradients</key>
		<array>
			<dict>
				<key>colors</key>
				<array>
					<integer>2570203698</integer>
					<integer>2570203698</integer>
				</array>
				<key>locations</key>
				<array>
					<string>0</string>
					<integer>1</integer>
				</array>
				<key>startPoint</key>
				<array>
					<real>0.5</real>
					<integer>0</integer>
				</array>
				<key>endPoint</key>
				<array>
					<real>0.5</real>
					<integer>1</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>highlighted</key>
	<dict>
		<key>gradients</key>
		<array>
			<dict>
				<key>colors</key>
				<array>
					<integer>2566914048</integer>
					<integer>2566914048</integer>
				</array>
				<key>locations</key>
				<array>
					<string>0</string>
					<integer>1</integer>
				</array>
				<key>startPoint</key>
				<array>
					<real>0.5</real>
					<integer>0</integer>
				</array>
				<key>endPoint</key>
				<array>
					<real>0.5</real>
					<integer>1</integer>
				</array>
			</dict>
		</array>
		<key>borderWidth</key>
		<integer>0</integer>
		<key>cornerRadius</key>
		<integer>15</integer>
		<key>borderColor</key>
		<integer>4279136429</integer>
		<key>textColor</key>
		<integer>4294967295</integer>
	</dict>
	<key>disabled</key>
	<dict>
		<key>gradients</key>
		<array>
			<dict>
				<key>colors</key>
				<array>
					<integer>1295135282</integer>
					<integer>1295135282</integer>
				</array>
				<key>locations</key>
				<array>
					<string>0</string>
					<integer>1</integer>
				</array>
				<key>startPoint</key>
				<array>
					<real>0.5</real>
					<integer>0</integer>
				</array>
				<key>endPoint</key>
				<array>
					<real>0.5</real>
					<integer>1</integer>
				</array>
			</dict>
		</array>
		<key>borderWidth</key>
		<integer>0</integer>
		<key>cornerRadius</key>
		<integer>15</integer>
		<key>borderColor</key>
		<integer>2130752747</integer>
		<key>textColor</key>
		<integer>1308622847</integer>
	</dict>
	<key>shadow</key>
	<dict>
		<key>enable</key>
		<false/>
		<key>shadowOffset</key>
		<array>
			<real>0</real>
			<real>2</real>
		</array>
		<key>shadowOpacity</key>
		<real>0.7</real>
		<key>shadowColor</key>
		<integer>4278190080</integer>
		<key>shadowRadius</key>
		<real>2.5</real>
		<key>anchorPoint</key>
		<array>
			<real>0.5</real>
			<real>0.5</real>
		</array>
	</dict>
</dict>
</plist>
